<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Web-Scraping-Lab" data-toc-modified-id="Web-Scraping-Lab-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Web Scraping Lab</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Useful-Resources" data-toc-modified-id="Useful-Resources-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Useful Resources</a></span><ul class="toc-item"><li><span><a href="#First-of-all,-gathering-our-tools." data-toc-modified-id="First-of-all,-gathering-our-tools.-1.0.1.1"><span class="toc-item-num">1.0.1.1&nbsp;&nbsp;</span>First of all, gathering our tools.</a></span></li><li><span><a href="#Challenge-1---Download,-parse-(using-BeautifulSoup),-and-print-the-content-from-the-Trending-Developers-page-from-GitHub:" data-toc-modified-id="Challenge-1---Download,-parse-(using-BeautifulSoup),-and-print-the-content-from-the-Trending-Developers-page-from-GitHub:-1.0.1.2"><span class="toc-item-num">1.0.1.2&nbsp;&nbsp;</span>Challenge 1 - Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:</a></span></li><li><span><a href="#Display-the-names-of-the-trending-developers-retrieved-in-the-previous-step." data-toc-modified-id="Display-the-names-of-the-trending-developers-retrieved-in-the-previous-step.-1.0.1.3"><span class="toc-item-num">1.0.1.3&nbsp;&nbsp;</span>Display the names of the trending developers retrieved in the previous step.</a></span></li><li><span><a href="#Challenge-2---Display-the-trending-Python-repositories-in-GitHub" data-toc-modified-id="Challenge-2---Display-the-trending-Python-repositories-in-GitHub-1.0.1.4"><span class="toc-item-num">1.0.1.4&nbsp;&nbsp;</span>Challenge 2 - Display the trending Python repositories in GitHub</a></span></li><li><span><a href="#Challenge-3---Display-all-the-image-links-from-Walt-Disney-wikipedia-page" data-toc-modified-id="Challenge-3---Display-all-the-image-links-from-Walt-Disney-wikipedia-page-1.0.1.5"><span class="toc-item-num">1.0.1.5&nbsp;&nbsp;</span>Challenge 3 - Display all the image links from Walt Disney wikipedia page</a></span></li><li><span><a href="#Challenge-4---Retrieve-all-links-to-pages-on-Wikipedia-that-refer-to-some-kind-of-Python." data-toc-modified-id="Challenge-4---Retrieve-all-links-to-pages-on-Wikipedia-that-refer-to-some-kind-of-Python.-1.0.1.6"><span class="toc-item-num">1.0.1.6&nbsp;&nbsp;</span>Challenge 4 - Retrieve all links to pages on Wikipedia that refer to some kind of Python.</a></span></li><li><span><a href="#Challenge-5---Number-of-Titles-that-have-changed-in-the-United-States-Code-since-its-last-release-point" data-toc-modified-id="Challenge-5---Number-of-Titles-that-have-changed-in-the-United-States-Code-since-its-last-release-point-1.0.1.7"><span class="toc-item-num">1.0.1.7&nbsp;&nbsp;</span>Challenge 5 - Number of Titles that have changed in the United States Code since its last release point</a></span></li><li><span><a href="#Challenge-6---A-Python-list-with-the-top-ten-FBI's-Most-Wanted-names" data-toc-modified-id="Challenge-6---A-Python-list-with-the-top-ten-FBI's-Most-Wanted-names-1.0.1.8"><span class="toc-item-num">1.0.1.8&nbsp;&nbsp;</span>Challenge 6 - A Python list with the top ten FBI's Most Wanted names</a></span></li><li><span><a href="#Challenge-7---List-all-language-names-and-number-of-related-articles-in-the-order-they-appear-in-wikipedia.org" data-toc-modified-id="Challenge-7---List-all-language-names-and-number-of-related-articles-in-the-order-they-appear-in-wikipedia.org-1.0.1.9"><span class="toc-item-num">1.0.1.9&nbsp;&nbsp;</span>Challenge 7 - List all language names and number of related articles in the order they appear in wikipedia.org</a></span></li><li><span><a href="#Challenge-8---A-list-with-the-different-kind-of-datasets-available-in-data.gov.uk" data-toc-modified-id="Challenge-8---A-list-with-the-different-kind-of-datasets-available-in-data.gov.uk-1.0.1.10"><span class="toc-item-num">1.0.1.10&nbsp;&nbsp;</span>Challenge 8 - A list with the different kind of datasets available in data.gov.uk</a></span></li><li><span><a href="#Challenge-9---Top-10-languages-by-number-of-native-speakers-stored-in-a-Pandas-Dataframe" data-toc-modified-id="Challenge-9---Top-10-languages-by-number-of-native-speakers-stored-in-a-Pandas-Dataframe-1.0.1.11"><span class="toc-item-num">1.0.1.11&nbsp;&nbsp;</span>Challenge 9 - Top 10 languages by number of native speakers stored in a Pandas Dataframe</a></span></li></ul></li><li><span><a href="#Stepping-up-the-game" data-toc-modified-id="Stepping-up-the-game-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Stepping up the game</a></span><ul class="toc-item"><li><span><a href="#Challenge-10---The-20-latest-earthquakes-info-(date,-time,-latitude,-longitude-and-region-name)-by-the-EMSC-as-a-pandas-dataframe" data-toc-modified-id="Challenge-10---The-20-latest-earthquakes-info-(date,-time,-latitude,-longitude-and-region-name)-by-the-EMSC-as-a-pandas-dataframe-1.0.2.1"><span class="toc-item-num">1.0.2.1&nbsp;&nbsp;</span>Challenge 10 - The 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe</a></span></li><li><span><a href="#Challenge-11---IMDB's-Top-250-data-(movie-name,-Initial-release,-director-name-and-stars)-as-a-pandas-dataframe" data-toc-modified-id="Challenge-11---IMDB's-Top-250-data-(movie-name,-Initial-release,-director-name-and-stars)-as-a-pandas-dataframe-1.0.2.2"><span class="toc-item-num">1.0.2.2&nbsp;&nbsp;</span>Challenge 11 - IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe</a></span></li><li><span><a href="#Challenge-12---Movie-name,-year-and-a-brief-summary-of-the-top-10-random-movies-(IMDB)-as-a-pandas-dataframe." data-toc-modified-id="Challenge-12---Movie-name,-year-and-a-brief-summary-of-the-top-10-random-movies-(IMDB)-as-a-pandas-dataframe.-1.0.2.3"><span class="toc-item-num">1.0.2.3&nbsp;&nbsp;</span>Challenge 12 - Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.</a></span></li><li><span><a href="#Challenge-13---Find-the-live-weather-report-(temperature,-wind-speed,-description-and-weather)-of-a-given-city." data-toc-modified-id="Challenge-13---Find-the-live-weather-report-(temperature,-wind-speed,-description-and-weather)-of-a-given-city.-1.0.2.4"><span class="toc-item-num">1.0.2.4&nbsp;&nbsp;</span>Challenge 13 - Find the live weather report (temperature, wind speed, description and weather) of a given city.</a></span></li><li><span><a href="#Challenge-14---Book-name,price-and-stock-availability-as-a-pandas-dataframe." data-toc-modified-id="Challenge-14---Book-name,price-and-stock-availability-as-a-pandas-dataframe.-1.0.2.5"><span class="toc-item-num">1.0.2.5&nbsp;&nbsp;</span>Challenge 14 - Book name,price and stock availability as a pandas dataframe.</a></span></li></ul></li></ul></li></ul></li></ul></div>

# Laboratorio de Web Scraping

Encontrarás en este cuaderno algunos ejercicios de web scraping para practicar tus habilidades de scraping usando `requests` y `Beautiful Soup`.

**Consejos:**

- Verifica el [código de estado de la respuesta](https://http.cat/) para cada solicitud para asegurarte de haber obtenido el contenido previsto.
- Observa el código HTML en cada solicitud para entender el tipo de información que estás obteniendo y su formato.
- Busca patrones en el texto de respuesta para extraer los datos/información solicitados en cada pregunta.
- Visita cada URL y echa un vistazo a su fuente a través de Chrome DevTools. Necesitarás identificar las etiquetas HTML, nombres de clases especiales, etc., utilizados para el contenido HTML que se espera extraer.
- Revisa los selectores CSS.

### Recursos Útiles
- Documentación de la [biblioteca Requests](http://docs.python-requests.org/en/master/#the-user-guide)
- [Doc de Beautiful Soup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Lista de códigos de estado HTTP](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [Conceptos básicos de HTML](http://www.simplehtmlguide.com/cheatsheet.php)
- [Conceptos básicos de CSS](https://www.cssbasics.com/#page_start)

#### Primero que todo, reuniendo nuestras herramientas.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json

⚠️ **Nuevamente, recuerda limitar tu salida antes de la entrega para que tu código no se pierda en la salida.**

#### Desafío 1 - Descargar, analizar (usando BeautifulSoup) e imprimir el contenido de la página de Desarrolladores en Tendencia de GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
github_html=requests.get(url).text
soup = BeautifulSoup(github_html, "html.parser")

#### Muestra los nombres de los desarrolladores en tendencia recuperados en el paso anterior.

Tu salida debe ser una lista de Python con los nombres de los desarrolladores. Cada nombre no debe contener ninguna etiqueta HTML.

**Instrucciones:**

1. Descubre la etiqueta HTML y los nombres de clase usados para los nombres de los desarrolladores. Puedes lograr esto usando Chrome DevTools.

1. Usa BeautifulSoup para extraer todos los elementos HTML que contienen los nombres de los desarrolladores.

1. Utiliza técnicas de manipulación de cadenas para reemplazar espacios en blanco y saltos de línea (es decir, `\n`) en el *texto* de cada elemento HTML. Usa una lista para almacenar los nombres limpios.

1. Imprime la lista de nombres.

Tu salida debería lucir como abajo (con nombres diferentes):

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
# Tu código aquí

developer_links = soup.select("h1:nth-child(1).h3 > a:nth-child(1).Link")
developer_names=[]
for link in developer_links:
    developer_names.append(link.get_text().strip())
developer_names

['J. Nick Koston',
 'Me No Dev',
 'Matthias Seitz',
 'Henrik Rydgård',
 'fzyzcjy',
 'Yair Morgenstern',
 'Marvin Hagemeister',
 'jdx',
 'LangChain4j',
 'Jarred Sumner',
 'Leonardo Zizzamia',
 'Arseny Kapoulkine',
 'Marshall Bowers',
 'Max Brunsfeld',
 'Belleve',
 'Emil Ernerfeldt',
 'Miles Cranmer',
 '三咲雅 · Misaki Masa',
 'Charles-Axel Dein',
 'Jason2866',
 'Laurent Mazare',
 'SoftFever',
 'Avik Pal',
 'Ali Aliev',
 'paul-gauthier']

#### Desafío 2 - Mostrar los repositorios de Python en tendencia en GitHub

Los pasos para resolver este problema son similares al anterior, excepto que necesitas encontrar los nombres de los repositorios en lugar de los nombres de los desarrolladores.

In [5]:
# This is the url you will scrape in this exercise
url2 = 'https://github.com/trending/python?since=daily'
datos2 = requests.get(f"{url2}").text
soup2 = BeautifulSoup(datos2, 'html.parser')

In [6]:
# Tu código aquí

repository_links = soup2.select("h2:nth-child(2).h3 > a:nth-child(1).Link")
repository_names = []
for link in repository_links:
    repository_name = link.get_text().strip()
    repository_names.append(repository_name.split("\n")[2].strip())
repository_names

['yolov10',
 'khoj',
 'stable-diffusion-webui',
 'dataherald',
 'mistral-finetune',
 'LaVague',
 'UMOE-Scaling-Unified-Multimodal-LLMs',
 'bisheng',
 'searxng',
 'taipy',
 'Pandora',
 'AutoGroq',
 'HamsterKombatBot',
 'system-design-primer',
 'ComfyUI',
 'TagStudio',
 'Real-ESRGAN',
 'stable-diffusion-webui-forge',
 'diamond',
 'public-apis',
 'Python',
 'Deep-Learning-Papers-Reading-Roadmap',
 'youtube-dl',
 'telegram-phone-number-checker',
 'gpt-researcher']

#### Desafío 3 - Mostrar todos los enlaces de imágenes de la página de Wikipedia de Walt Disney

In [7]:
# This is the url you will scrape in this exercise
url3 = 'https://en.wikipedia.org/wiki/Walt_Disney'
disney = requests.get(f"{url3}").text
soup3 = BeautifulSoup(disney, 'html.parser')

In [8]:
# Tu código aquí

image_links = soup3.find_all("img")
image_urls = []
for img in image_links:
    if img.has_attr("src"):
        image_urls.append(img["src"])
image_urls

['/static/images/icons/wikipedia.png',
 '/static/images/mobile/copyright/wikipedia-wordmark-en.svg',
 '/static/images/mobile/copyright/wikipedia-tagline-en.svg',
 '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Nuvola_apps_kaboodle.svg/16px-Nuvola_apps_kaboodle.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/20px-Commons-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/23px-Wikiquote-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Wikisource-logo.svg/26px-Wikisource-logo.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/9/96/Symbol_category_class.svg/16px-Symbol_category_class.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/19px-P_vip.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Mickey_Mouse_colored_%28head%29.svg/20px-Mickey_Mouse_colored_%28head%29.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/19px-Video-x-generic.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/21px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/21px-Flag_of_the_United_States.svg.png',
 '//upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://login.wikimedia.org/wiki/Special:CentralAutoLogin/start?type=1x1',
 '/static/images/footer/wikimedia-button.png',
 '/static/images/footer/poweredby_mediawiki_88x31.png']

#### Desafío 4 - Recuperar todos los enlaces a páginas en Wikipedia que se refieren a algún tipo de Python.

In [9]:
url4 ='https://en.wikipedia.org/wiki/Python' 
python = requests.get(f"{url4}").text
soup4 = BeautifulSoup(python, 'html.parser')

In [10]:
# Tu código aquí

python_links = soup4.find_all("a", title=lambda title: title and "Python" in title)

python_pages = []
for link in python_links:
    python_pages.append(link.get("href"))
python_pages

['https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://az.wikipedia.org/wiki/Python_(d%C9%99qiql%C9%99%C5%9Fdirm%C9%99)',
 'https://be.wikipedia.org/wiki/Python',
 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)',
 'https://da.wikipedia.org/wiki/Python',
 'https://de.wikipedia.org/wiki/Python',
 'https://eu.wikipedia.org/wiki/Python_(argipena)',
 'https://fr.wikipedia.org/wiki/Python',
 'https://hr.wikipedia.org/wiki/Python_(razdvojba)',
 'https://id.wikipedia.org/wiki/Python',
 'https://ia.wikipedia.org/wiki/Python_(disambiguation)',
 'https://is.wikipedia.org/wiki/Python_(a%C3%B0greining)',
 'https://it.wikipedia.org/wiki/Python_(disambigua)',
 'https://la.wikipedia.org/wiki/Python_(discretiva)',
 'https://lb.wikipedia.org/wiki/Python',
 'https://hu.wikipedia.org/wiki/Python_(egy%C3%A9rtelm%C5%B1s%C3%ADt%C5%91_lap)',
 'https://nl.wikipedia.org/wiki/Python',
 'https://pt.wikipedia.org/wiki/Python_(desambigua%C3%A7%C3%A3o)',
 'https://ru.wikipedia.org/wiki/Python_(%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F)',
 'https://sk.wikipedia.org/wiki/Python',
 'https://sh.wikipedia.org/wiki/Python',
 'https://fi.wikipedia.org/wiki/Python',
 'https://tr.wikipedia.org/wiki/Python_(anlam_ayr%C4%B1m%C4%B1)',
 'https://vi.wikipedia.org/wiki/Python',
 'https://zh.wikipedia.org/wiki/Python_(%E6%B6%88%E6%AD%A7%E4%B9%89)',
 'https://en.wiktionary.org/wiki/Python',
 '/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '/wiki/Python_(mythology)',
 '/wiki/Python_(programming_language)',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Colt_Python',
 '/wiki/Python_(codename)',
 '/wiki/Python_(film)',
 '/wiki/Monty_Python',
 '/wiki/Python_(Monty)_Pictures']

#### Desafío 5 - Número de Títulos que han cambiado en el Código de los Estados Unidos desde su último punto de lanzamiento

In [11]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [12]:
# Tu código aquí

html = requests.get(url).text
soup5 = BeautifulSoup(html, 'html.parser')
title_divs = soup5.find_all('div', class_='usctitlechanged')
len(title_divs)

2

#### Desafío 6 - Una lista de Python con los diez nombres más buscados por el FBI

In [13]:
# This is the url you will scrape in this exercise
# url7 = 'https://www.fbi.gov/wanted/topten'
url7 = 'https://en.wikipedia.org/wiki/FBI_Ten_Most_Wanted_Fugitives'

In [14]:
wanted = requests.get(f"{url7}").text
soup7 = BeautifulSoup(wanted, 'html.parser')
wantedtag = soup7.find_all('h3')

In [15]:
# Tu código aquí

wantedtable = soup7.find("tbody")
wantedrows = wantedtable.find_all("div", class_="center")
wantes = []

for i in range(0, len(wantedrows), 3):
    name = wantedrows[i].get_text()
    date = wantedrows[i + 1].get_text()
    seq_number = wantedrows[i + 2].get_text()
    wantes.append([name, date, seq_number])
wantes

[['Alexis Flores', 'June 2, 2007', '487'],
 ['Bhadreshkumar Chetanbhai Patel', 'April 18, 2017', '514'],
 ['Alejandro Castillo', 'October 24, 2017', '516'],
 ['Arnoldo Jimenez', 'May 8, 2019', '522'],
 ['Yulan Adonay Archaga Carias', 'November 3, 2021', '526'],
 ['Ruja Ignatova', 'June 30, 2022', '527'],
 ['Omar Alexander Cardenas', 'July 20, 2022', '528'],
 ['Wilver Villegas-Palomino', 'April 14, 2023', '530'],
 ['Donald Eugene Fields II', 'May 25, 2023', '531'],
 ["Vitel'Homme Innocent", 'November 15, 2023', '532']]

In [16]:
df = pd.DataFrame(wantes, columns=["Name", "Date added", "Sequence number"])
df

                             Name         Date added Sequence number
0                   Alexis Flores       June 2, 2007             487
1  Bhadreshkumar Chetanbhai Patel     April 18, 2017             514
2              Alejandro Castillo   October 24, 2017             516
3                 Arnoldo Jimenez        May 8, 2019             522
4     Yulan Adonay Archaga Carias   November 3, 2021             526
5                   Ruja Ignatova      June 30, 2022             527
6         Omar Alexander Cardenas      July 20, 2022             528
7        Wilver Villegas-Palomino     April 14, 2023             530
8         Donald Eugene Fields II       May 25, 2023             531
9            Vitel'Homme Innocent  November 15, 2023             532

#### Desafío 7 - Listar todos los nombres de idiomas y el número de artículos relacionados en el orden en que aparecen en wikipedia.org

In [17]:
# This is the url you will scrape in this exercise
url8 = 'https://www.wikipedia.org/'

In [18]:
languages = requests.get(f"{url8}").content
soup8 = BeautifulSoup(languages, 'html.parser')
langlist = soup8.find_all("div", {"class": f"central-featured-lang"})

In [19]:
# Tu código aquí

language_articles = []

for lang in langlist:
    language = lang.find("strong").text.strip()  
    articles = ''.join(filter(str.isdigit, lang.find("small").text.strip()))
    language_articles.append((language, articles))

language_articles

[('English', '6796000'),
 ('Русский', '1969000'),
 ('日本語', '1407000'),
 ('Español', '1938000'),
 ('Deutsch', '2891000'),
 ('Français', '2598000'),
 ('Italiano', '1853000'),
 ('中文', '1409000'),
 ('فارسی', '۹۹۵۰۰۰'),
 ('Português', '1120000')]

#### Desafío 8 - Una lista con los diferentes tipos de conjuntos de datos disponibles en data.gov.uk

In [20]:
# This is the url you will scrape in this exercise
url82 = 'https://data.gov.uk/'
dats = requests.get(f"{url82}")
soup8 = BeautifulSoup(dats.content, 'html.parser')

In [21]:
# Tu código aquí

dataset_links = soup8.select("h3:nth-child(1) > a:nth-child(1)")
dataset_types=[]
for link in dataset_links:
    dataset_types.append(link.text.strip())
dataset_types

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Desafío 9 - Los 10 idiomas con más hablantes nativos almacenados en un DataFrame de Pandas

In [22]:
# This is the url you will scrape in this exercise
url9 = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
tenlang = requests.get(url9)
soup9 = BeautifulSoup(tenlang.content,"html.parser")

In [23]:
# Tu código aquí

langtable = soup9.find("table", class_="wikitable")
langrows = langtable.find_all("tr")
langs = []
for row in langrows[1:11]:
    col=row.find_all("td")
    lang=col[0].text.strip()
    speakers=col[1].text.strip()
    langfamily=col[2].text.strip()
    branch=col[3].text.strip()
    langs.append([lang,speakers,langfamily,branch])
    
langs

[['Mandarin Chinese', '941', 'Sino-Tibetan', 'Sinitic'],
 ['Spanish', '486', 'Indo-European', 'Romance'],
 ['English', '380', 'Indo-European', 'Germanic'],
 ['Hindi', '345', 'Indo-European', 'Indo-Aryan'],
 ['Bengali', '237', 'Indo-European', 'Indo-Aryan'],
 ['Portuguese', '236', 'Indo-European', 'Romance'],
 ['Russian', '148', 'Indo-European', 'Balto-Slavic'],
 ['Japanese', '123', 'Japonic', 'Japanese'],
 ['Yue Chinese', '86', 'Sino-Tibetan', 'Sinitic'],
 ['Vietnamese', '85', 'Austroasiatic', 'Vietic']]

In [24]:
df = pd.DataFrame(langs, columns=["Language", "Native Speakers", "Language Family", "Branch"])
df

           Language Native Speakers Language Family        Branch
0  Mandarin Chinese             941    Sino-Tibetan       Sinitic
1           Spanish             486   Indo-European       Romance
2           English             380   Indo-European      Germanic
3             Hindi             345   Indo-European    Indo-Aryan
4           Bengali             237   Indo-European    Indo-Aryan
5        Portuguese             236   Indo-European       Romance
6           Russian             148   Indo-European  Balto-Slavic
7          Japanese             123         Japonic      Japanese
8       Yue Chinese              86    Sino-Tibetan       Sinitic
9        Vietnamese              85   Austroasiatic        Vietic

### Subiendo el nivel
#### Desafío 10 - La información de los 20 últimos terremotos (fecha, hora, latitud, longitud y nombre de la región) por el EMSC como un dataframe de pandas

In [25]:
# This is the url you will scrape in this exercise
#url7 = 'https://www.emsc-csem.org/Earthquake/'
#url7 = "https://www.emsc-csem.org/#2"
url7 = 'http://ds.iris.edu/seismon/eventlist/index.phtml'

response = requests.get(url7)
soup10 = BeautifulSoup(response.content,"html.parser")

In [26]:
# Tu código aquí

eqtable = soup10.find("table", class_="tablesorter")
eqrows = eqtable.find_all("tr")

earthquakes = []

for row in eqrows[1:21]:
    col=row.find_all("td")
    date =col[0].text.strip()
    lat =col[1].text.strip()
    lon =col[2].text.strip()
    mag=col[3].text.strip()
    depth=col[4].text.strip()
    location=col[5].text.strip()
    earthquakes.append([date,lat,lon,mag,depth,location])
    
earthquakes;

In [27]:
df = pd.DataFrame(earthquakes, columns=["Date-Time", "Lat", "Lon", "Mag","Depth","Location"])
df

,Date-Time,Lat,Lon,Mag,Depth,Location
0,27-MAY-2024 03:07:11,28.20,100.62,5.1,10,"SICHUAN, CHINA"
1,27-MAY-2024 02:44:00,11.37,-86.24,4.3,67,NEAR COAST OF NICARAGUA
2,27-MAY-2024 02:42:53,-24.03,-66.90,4.4,228,"SALTA PROVINCE, ARGENTINA"
3,27-MAY-2024 01:51:14,-7.03,155.55,5.2,35,SOLOMON ISLANDS
4,27-MAY-2024 00:47:30,52.29,157.63,5.2,121,"KAMCHATKA PENINSULA, RUSSIA"
5,27-MAY-2024 00:40:24,35.52,-3.55,4.1,10,STRAIT OF GIBRALTAR
6,27-MAY-2024 00:12:37,54.69,-156.77,4.6,28,SOUTH OF ALASKA
7,26-MAY-2024 23:02:53,30.72,86.67,4.4,10,XIZANG
8,26-MAY-2024 22:19:59,40.94,78.22,4.1,10,"SOUTHERN XINJIANG, CHINA"
9,26-MAY-2024 21:47:47,-21.13,-173.83,5.0,10,TONGA ISLANDS
10,26-MAY-2024 20:47:09,-19.38,-174.87,6.6,112,TONGA ISLANDS
11,26-MAY-2024 18:52:45,36.57,70.88,4.2,174,"HINDU KUSH REGION, AFGHANISTAN"
12,26-MAY-2024 17:54:51,38.29,75.10,4.3,122,"SOUTHERN XINJIANG, CHINA"
13,26-MAY-2024 17:31:03,-2.78,129.37,4.5,10,"SERAM, INDONESIA"
14,26-MAY-2024 16:23:25,26.96,54.50,4.1,10,SOUTHERN IRAN
15,26-MAY-2024 15:15:12,36.80,27.05,4.5,150,"DODECANESE ISLANDS, GREECE"
16,26-MAY-2024 14:24:09,-24.18,-69.22,5.0,97,NORTHERN CHILE
17,26-MAY-2024 13:42:22,-3.68,141.28,4.7,43,"NEW GUINEA, PAPUA NEW GUINEA"
18,26-MAY-2024 13:26:23,-17.86,-178.04,4.3,601,FIJI ISLANDS REGION
19,26-MAY-2024 11:58:26,8.31,127.63,4.4,10,PHILIPPINE ISLANDS REGION

#### Desafío 11 - Datos del Top 250 de IMDB (nombre de la película, lanzamiento inicial, nombre del director y estrellas) como un dataframe de pandas

In [28]:
# This is the url you will scrape in this exercise 
#url11 = 'https://www.imdb.com/chart/top'
url11 = 'https://www.filmaffinity.com/es/userlist.php?user_id=882839&list_id=1006'
pelis = requests.get(url11)
soup11 = BeautifulSoup(pelis.content,"html.parser")

In [29]:
# Tu código aquí

movieslist = soup11.find("ul", class_="movies_list")
moviesrows = movieslist.find_all("li")

movies=[]


for row in moviesrows:
    title=row.find("div", class_="mc-title").text.strip()
    year=row.find_all("span", class_="mc-year")[1].text.strip()
    country=row.find("img", class_="nflag")["alt"].strip()
    director=row.find_all("span", class_="nb")[0].text.strip()
    rating=row.find("div", class_="avgrat-box").text.strip()
    movies.append([title,year,country,director,rating])

movies;

In [30]:
df = pd.DataFrame(movies, columns=["Title", "Year", "Country", "Director","Rating"])
df

,Title,Year,Country,Director,Rating
0,Doce hombres sin piedad,1957,Estados Unidos,Sidney Lumet,"8,7"
1,El padrino,1972,Estados Unidos,Francis Ford Coppola,"9,0"
2,El padrino. Parte II,1974,Estados Unidos,Francis Ford Coppola,"8,9"
3,La guerra de las galaxias. Episodio V: El impe...,1980,Estados Unidos,Irvin Kershner,"8,1"
4,La guerra de las galaxias. Episodio IV: Una nu...,1977,Estados Unidos,George Lucas,"7,9"
5,La guerra de las galaxias. Episodio VI: El ret...,1983,Estados Unidos,Richard Marquand,"7,9"
6,Indiana Jones y la última cruzada,1989,Estados Unidos,Steven Spielberg,"7,8"
7,En busca del arca perdida,1981,Estados Unidos,Steven Spielberg,"7,8"
8,Casablanca,1942,Estados Unidos,Michael Curtiz,"8,4"
9,Seven (Se7en),1995,Estados Unidos,David Fincher,"8,3"
10,Forrest Gump,1994,Estados Unidos,Robert Zemeckis,"8,2"
11,Salvar al soldado Ryan,1998,Estados Unidos,Steven Spielberg,"7,8"
12,El viaje de Chihiro,2001,Japón,Hayao Miyazaki,"8,1"
13,El castillo ambulante,2004,Japón,Hayao Miyazaki,"7,8"
14,La princesa Mononoke,1997,Japón,Hayao Miyazaki,"8,0"
15,Érase una vez en América,1984,Estados Unidos,Sergio Leone,"8,3"
16,Gran Torino,2008,Estados Unidos,Clint Eastwood,"8,2"
17,Toy Story,1995,Estados Unidos,John Lasseter,"7,7"
18,Cadena perpetua,1994,Estados Unidos,Frank Darabont,"8,6"
19,Pulp Fiction,1994,Estados Unidos,Quentin Tarantino,"8,6"
20,Ratatouille,2007,Estados Unidos,Brad Bird,"7,3"
21,El señor de los anillos: Las dos torres,2002,Nueva Zelanda,Peter Jackson,"8,0"
22,El señor de los anillos: El retorno del rey,2003,Nueva Zelanda,Peter Jackson,"8,2"
23,El señor de los anillos: La comunidad del anillo,2001,Nueva Zelanda,Peter Jackson,"8,0"
24,Piratas del Caribe: La maldición de la Perla N...,2003,Estados Unidos,Gore Verbinski,"7,2"
25,"El bueno, el feo y el malo",1966,Italia,Sergio Leone,"8,2"
26,Origen,2010,Estados Unidos,Christopher Nolan,"8,0"
27,Matrix,1999,Estados Unidos,"Lilly Wachowski,","7,9"
28,Regreso al futuro,1985,Estados Unidos,Robert Zemeckis,"7,5"
29,El show de Truman,1998,Estados Unidos,Peter Weir,"7,7"
30,El pianista,2002,Reino Unido,Roman Polanski,"8,2"
31,La lista de Schindler,1993,Estados Unidos,Steven Spielberg,"8,6"
32,La bella y la bestia,1991,Estados Unidos,"Gary Trousdale,","7,3"
33,Shutter Island,2010,Estados Unidos,Martin Scorsese,"7,6"
34,Star Trek,2009,Estados Unidos,J.J. Abrams,"6,8"
35,Kill Bill. Volumen 1,2003,Estados Unidos,Quentin Tarantino,"7,6"
36,Reservoir Dogs,1992,Estados Unidos,Quentin Tarantino,"8,1"
37,Django desencadenado,2012,Estados Unidos,Quentin Tarantino,"7,9"
38,Malditos bastardos,2009,Estados Unidos,Quentin Tarantino,"7,8"
39,El club de la lucha,1999,Estados Unidos,David Fincher,"8,1"

#### Desafío 12 - Nombre de la película, año y un breve resumen de las 10 películas aleatorias top (IMDB) como un dataframe de pandas.

In [31]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [32]:
years = list(soup.find_all("span", {"class": "secondaryInfo"}))

In [33]:
# Tu código aquí

import random

movieslist = soup11.find("ul", class_="movies_list")
moviesrows = movieslist.find_all("li")
moviesrows = random.sample(moviesrows, 10)

movies = []

for row in moviesrows:
    title = row.find("div", class_="mc-title").text.strip()
    year = row.find_all("span", class_="mc-year")[1].text.strip()
    country = row.find("img", class_="nflag")["alt"].strip()
    director = row.find_all("span", class_="nb")[0].text.strip()
    rating = row.find("div", class_="avgrat-box").text.strip()
    cast = [actor.text.strip() for actor in row.find_all("span", class_="nb")[1:]]
    ratmovie = row.find("div", class_="rat-movie").text.strip()
    ratcount = row.find("div", class_="ratcount-box").text.strip()
    movies.append([title, year, country, director, rating, cast, ratmovie, ratcount])

movies;

In [34]:
df = pd.DataFrame(movies, columns=["Title", "Year", "Country", "Director","Rating", "Cast", "RatMovie", "RatCount"])
df

,Title,Year,Country,Director,Rating,Cast,RatMovie,RatCount
0,"El bueno, el feo y el malo",1966,Italia,Sergio Leone,"8,2","[Clint Eastwood,, Lee Van Cleef,, Eli Wallach,...",8,67.951
1,La guerra de las galaxias. Episodio IV: Una nu...,1977,Estados Unidos,George Lucas,"7,9","[Mark Hamill,, Harrison Ford,, Carrie Fisher,,...",8,137.804
2,El castillo ambulante,2004,Japón,Hayao Miyazaki,"7,8",[],8,60.678
3,La bella y la bestia,1991,Estados Unidos,"Gary Trousdale,","7,3","[Kirk Wise, Paige O'Hara,, Robby Benson,, Rich...",7,116.203
4,Piratas del Caribe: La maldición de la Perla N...,2003,Estados Unidos,Gore Verbinski,"7,2","[Johnny Depp,, Orlando Bloom,, Keira Knightley...",6,156.029
5,Kill Bill. Volumen 1,2003,Estados Unidos,Quentin Tarantino,"7,6","[Uma Thurman,, Lucy Liu,, Daryl Hannah,, Vivic...",8,186.629
6,Reservoir Dogs,1992,Estados Unidos,Quentin Tarantino,"8,1","[Tim Roth,, Harvey Keitel,, Steve Buscemi,, Mi...",6,138.269
7,Seven (Se7en),1995,Estados Unidos,David Fincher,"8,3","[Brad Pitt,, Morgan Freeman,, Gwyneth Paltrow,...",7,176.387
8,Django desencadenado,2012,Estados Unidos,Quentin Tarantino,"7,9","[Jamie Foxx,, Christoph Waltz,, Leonardo DiCap...",8,118.649
9,La guerra de las galaxias. Episodio V: El impe...,1980,Estados Unidos,Irvin Kershner,"8,1","[Mark Hamill,, Harrison Ford,, Carrie Fisher,,...",9,137.295

#### Desafío 13 - Encontrar el reporte meteorológico en vivo (temperatura, velocidad del viento, descripción y clima) de una ciudad dada.

In [35]:
#https://openweathermap.org/current

In [36]:
def get_weather(api_key, city):
    base_url = "http://api.openweathermap.org/data/2.5/weather?"
    city_name = city
    complete_url = f"{base_url}appid={api_key}&q={city_name}"
    response = requests.get(complete_url)
    return response.json()

# Replace 'YOUR_API_KEY' with your actual API key and 'CITY_NAME' with your city
api_key = '9da0f0082cf35d67520a646b8f2ff3a7'
city_name = 'Barcelona'
weather_data = get_weather(api_key, city_name)

print(f"Weather in {city_name}:")
print(weather_data)

Weather in Barcelona:
{'coord': {'lon': 2.159, 'lat': 41.3888}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'base': 'stations', 'main': {'temp': 291.64, 'feels_like': 291.45, 'temp_min': 288.47, 'temp_max': 292.98, 'pressure': 1017, 'humidity': 73}, 'visibility': 10000, 'wind': {'speed': 4.63, 'deg': 50}, 'clouds': {'all': 20}, 'dt': 1716787481, 'sys': {'type': 2, 'id': 18549, 'country': 'ES', 'sunrise': 1716783778, 'sunset': 1716837270}, 'timezone': 7200, 'id': 3128760, 'name': 'Barcelona', 'cod': 200}

#### Desafío 14 - Nombre del libro, precio y disponibilidad de stock como un dataframe de pandas.

In [37]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url14 = 'http://books.toscrape.com'
books = requests.get(url14)
soup = BeautifulSoup(books.content,"html.parser")

In [38]:
libros = list(soup.select('h1.h3 a[tittle]'))
#nombres = soup.select('h1.h3 a[tittle]')

In [39]:
# Tu código aquí

libros = soup.select('h3:nth-child(3) > a:nth-child(1)')
precios = soup.select('div:nth-child(4) > p:nth-child(1)')
stocks= soup.select('div:nth-child(4) > p:nth-child(2)')

books=[]

for libro, precio, stocks in zip(libros, precios, stocks):
    books.append([libro["title"], precio.text, stocks.text.strip()]) 
books;

In [40]:
df = pd.DataFrame(books, columns=["Boock", "Price", "Stock"])
df

                                                Boock   Price     Stock
0                                A Light in the Attic  £51.77  In stock
1                                  Tipping the Velvet  £53.74  In stock
2                                          Soumission  £50.10  In stock
3                                       Sharp Objects  £47.82  In stock
4               Sapiens: A Brief History of Humankind  £54.23  In stock
5                                     The Requiem Red  £22.65  In stock
6   The Dirty Little Secrets of Getting Your Dream...  £33.34  In stock
7   The Coming Woman: A Novel Based on the Life of...  £17.93  In stock
8   The Boys in the Boat: Nine Americans and Their...  £22.60  In stock
9                                     The Black Maria  £52.15  In stock
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99  In stock
11                              Shakespeare's Sonnets  £20.66  In stock
12                                        Set Me Free  £17.46  In stock
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29  In stock
14                          Rip it Up and Start Again  £35.02  In stock
15  Our Band Could Be Your Life: Scenes from the A...  £57.25  In stock
16                                               Olio  £23.88  In stock
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59  In stock
18                       Libertarianism for Beginners  £51.33  In stock
19                            It's Only the Himalayas  £45.17  In stock

In [41]:
books = []

for i in range(1, 51):  
    url = f'http://books.toscrape.com/catalogue/page-{i}.html'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    
    libros = soup.select('h3:nth-child(3) > a:nth-child(1)')
    precios = soup.select('div:nth-child(4) > p:nth-child(1)')
    stocks= soup.select('div:nth-child(4) > p:nth-child(2)')
    
    for libro, precio, stock in zip(libros, precios, stocks):
        books.append([libro['title'], precio.text.strip(), stock.text.strip()])


df = pd.DataFrame(books, columns=["Boock", "Price", "Stock"])
df

                                                 Boock   Price     Stock
0                                 A Light in the Attic  £51.77  In stock
1                                   Tipping the Velvet  £53.74  In stock
2                                           Soumission  £50.10  In stock
3                                        Sharp Objects  £47.82  In stock
4                Sapiens: A Brief History of Humankind  £54.23  In stock
..                                                 ...     ...       ...
995  Alice in Wonderland (Alice's Adventures in Won...  £55.53  In stock
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  £57.06  In stock
997  A Spy's Devotion (The Regency Spies of London #1)  £16.97  In stock
998                1st to Die (Women's Murder Club #1)  £53.98  In stock
999                 1,000 Places to See Before You Die  £26.08  In stock

[1000 rows x 3 columns]

**Limitates tu output? Gracias! 🙂**